body {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}

h3 {
  margin-right: 1em;
  margin-left: 1em;
}

.principal {
  background-color: rgb(246, 246, 246);
  color: rgb(0, 0, 0);
  min-height: 100vh;
}

.menu {
  background-color: #1e1c1c;
  display: flex;
}
.menu a {
  color: #085fb7;
  margin-right: 1em;
  margin-left: 1em;
}
.menu img{
  max-height: 50px;
  margin: 5px;
  margin-left: 1em;
}

.piePagina {
  background-color: #1e1c1c;
  height: 10vh;
  padding: 6vh;
}
.piePagina a {
  color: #085fb7;
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
}

.uploadCSS {
  border-top: 100px solid transparent;
  height: 90vh;
  width: 100%;
  background-color: #085fb7;
  color: #ffffff;
}
.uploadCSS button {
  color: #ffffff;
  border-color: #ffffff ;
}
.uploadCSS button:hover {
  transition: 0.5s ease-in-out;
  background: #063b71;
}
.uploadCSS input {
  background-color: transparent;
  color: white;
  border: 1px solid #fcfeff;
  padding: 10px 10px;
  border-radius: 50px;
}

.galery {
  border-top: 2vh solid transparent;
  border-bottom: 5vh solid transparent;
}
.singleImage {
  border-top: 2vh solid transparent;
  border-bottom: 5vh solid transparent;
}

button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 2px solid #085fb7;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: 1s ease-in-out;
}

button:hover {
  transition: 0.5s ease-in-out;
  background: #085fb7;
}
button span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

input {
  background-color: transparent;
  color: rgb(2, 2, 2);
  border: 2px solid #085fb7;
  padding: 10px 10px;
  border-radius: 50px;
}

.space {
  margin: 50px;
}

.ful-img {
  margin: auto;
}
.ful-img img {
  max-height: 50vh;
}
.ful-img img:hover {
  transform: none;
  cursor: auto;
}

.buttonDelete {
  background-color: rgb(245, 11, 11);
  color: black;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: 1s ease-in-out;
}

.buttonDelete:hover {
  transition: 1s ease-in-out;
  background: red;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20vh, auto);
  grid-gap: 2vhpx;
  grid-auto-flow: dense;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.img-gallery img {
  max-width: 50vh;
  max-height: 30vh;
  cursor: pointer;
  transition: 1s;
  margin: 10px auto;
}
.img-gallery img:hover {
  transform: scale(1.1);
}

.singleImage {
  background-color: #ffffff;
  width: 60vh;
  height: 40vh;
  margin: 2vh;
}

@media screen and (max-width: 700px) {
  .principal {
    max-width: 100vh;
  }
}
